.play-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-top: -70px;
    margin-bottom: 60px;
}

.playit-img{
    width: 250px;
    height: 250px;
  
}
.paragraph{
    color:white;
    font-family: "cs gorden serif";
    font-size: 25px;
    font-weight: bold;
}

.menu-img{
    width: 200px;
    height: 200px;
    
    
    
}
.menu-name {
    color: #fff;
    font-family: "cs gorden serif";
    font-weight: 600;
    font-size: 25px;

}
.each-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.news-paragraph{
    color:#fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    margin-top:40px;
    font-family:"cs gorden serif" ;
    
}
.search-button{
    margin-top: 10px;
    width:300px;
    height:40px;
    border: 1px solid #fcecec; 
    background-color: transparent; 
    color: hwb(0 88% 10%);
    outline: none;
}
.subscribe{
    text-align: center;
}